@import "../../vars";

button {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 3px solid;
  padding: 15px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  transition: all 0.3s;

  &:active {
    scale: 0.9;
  }
}

.defaultBtn {
  position: relative;

  &::after,
  &::before {
    content: "";
    width: 18px;
    height: 4px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    transition: all 0.3s;
  }

  &::after {
    rotate: 90deg;
  }
}

.closeBtn {
  width: min-content;
  padding: 10px;
  margin-left: auto;

  &::after,
  &::before {
    width: 14px;
  }

  &::after {
    rotate: -45deg;
  }
  &::before {
    rotate: 45deg;
  }
}

.miniBtnNoBg {
  width: min-content;
  padding: 3px;
  font-size: 14px;
  background-color: transparent !important;
  border: none;

  &::before,
  &::after {
    display: none;
  }
}
