@import "../../vars";

.menu {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  max-width: calc(1 / 6 * 100%);
  padding: 15px 10px;

  background-color: darken($color: $teal, $amount: 3);

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 10px;
  }
}

.menu-list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
    border-radius: 5px;

    transition: all 0.3s;

    &:hover {
      background-color: lighten($color: $teal, $amount: 2);
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
  }
}
