@import "rem";
@import "vars";

#root {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > body {
    flex: 1 1 auto;
    display: flex;
    // flex-direction: column;
  }
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: $teal;
  color: #ff8c00;
}

a {
  color: $orange;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.note-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
